<div class="index">
  <h1 class="font-monospace fs-1" >Articles</h1>

  <p class="font-monospace">Our blog has <%= Article.public_count %> articles and counting!</p>

  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li class="font-monospace">
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <p class="font-monospace"><%= link_to "New Article", new_article_path %></p>
</div>

<style>
.index{
  width: 25%;
  margin: 0 auto;
  margin-top: 2em;
}
</style>
